<h1>Contacts List</h1>

<table class="table">
  <!-- tells bootstrap to turn this into a responsive table -->

  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Actions</td>
    </tr>
  </thead>

  <tbody>

    <!-- It would be idead to create a component "appp-contacts-create" and use it here as an HTML tag-->
    <tr>
        <td><input id="new-contact-name" class="form-control" #newContactName/></td>
        <td><input id="new-contact-email" class="form-control" #newContactEmail/></td>
        <td><input id="new-contact-phone" class="form-control" #newContactPhone type="number"/></td>
        <td><button class="btn btn-primary" (click)="
          addContact(newContactName.value, newContactEmail.value, newContactPhone.valueAsNumber);
          newContactName.value = newContactEmail.value = newContactPhone.value = ''">Add</button></td>
    </tr>

    <!-- repeat: one row per object (angular's *ng)-->
    <tr *ngFor="let contact of contacts">
      <td><a routerLink="/contacts/{{contact.name}}">{{contact.name}}</a></td> <!-- Interpolacion: JS/TS code that will be run on view render-->
      <td>{{contact.email}}</td>
      <td>{{contact.phone}}</td>
      <td><button class="btn btn-danger" (click)="deleteContact(contact.name)">Delete</button></td>
    </tr>
    <tr>
      <td><button class="btn btn-danger" (click)="deleteContacts()">Delete all</button></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>

</table>
