<h2>DGSIN-2021-20 (frontend)</h2>

<ul>
  <li><strong>Equipo</strong>
    <ul>
      <li><a href="https://github.com/ignpelloz" target="_blank" rel="noopener">Ignacio Peluaga Lozada</a></li>
    </ul>
  </li>
  <li><strong>Descripci&oacute;n del proyecto</strong>: Los datos seleccionados representan los gastos medios (por hogar y por persona) en bebidas alcoh&oacute;licas y tabaco, seg&uacute;n comunidad aut&oacute;noma de residencia.</li>
  <li><strong>Repositorios</strong>:
    <ul>
      <li>Backend: <a href="https://github.com/mii-dgsin/DGSIN-2021-20" target="_blank" rel="noopener">mii-dgsin/DGSIN-2021-20</a></li>
      <li>Frontend: <a href="https://github.com/mii-dgsin/DGSIN-2021-20-front" target="_blank" rel="noopener">mii-dgsin/DGSIN-2021-20-front</a></li>
    </ul>
  </li>
  <li><strong>Heroku URLs</strong>:
    <ul>
      <li>Backend: <a href="http://dgsin-2021-20.herokuapp.com/" target="_blank">http://dgsin-2021-20.herokuapp.com</a></li>
      <li>Frontend: <a href="http://dgsin-2021-20-front.herokuapp.com/" target="_blank">http://dgsin-2021-20-front.herokuapp.com</a></li>
      </ul>
  </li>
<li><strong>API</strong>:
  <ul>
    <li><a href="http://dgsin-2021-20.herokuapp.com/api/v1/alcohol-tobacco-exps" target="_blank">Backend (raw JSON data)</a></li>
    <li><a href="http://dgsin-2021-20-front.herokuapp.com/expenditures" target="_blank">Frontend UI</a></li>
    <li><a href="https://documenter.getpostman.com/view/1776636/TzXtKLsz" target="_blank">Docs de Postman</a></li>
  </ul>
</li>
<li><strong>Video</strong>: <a href="/about" target="_blank">http://dgsin-2021-20-front.herokuapp.com/about</a></li>
</ul>

<h3>Ignacio Peluaga Lozada - Ejemplo de fuente de datos</h3>
<ul>
  <li><strong>Datos</strong>: alcohol-tobacco-exps</li>
  <li><strong>Fuente de informaci&oacute;n</strong>: <a href="https://www.ine.es/jaxiT3/Tabla.htm?t=14505" target="_blank">https://www.ine.es/jaxiT3/Datos.htm?t=14505</a></li>
</ul>
<table border="1" style="width: 830.0px;">
  <tbody>
    <tr>
      <td style="width: 186.0px;">autonomous_community (comunidad aut&oacute;noma)</td>
      <td style="width: 90.0px;">year (a&ntilde;o)</td>
      <td style="width: 192.0px;">
        <p>avg_expenditure_household (gasto medio por hogar)</p>
        <p>&euro;</p>
      </td>
      <td style="width: 183.0px;">
        <p>avg_expenditure_person (gasto medio por persona)</p>
        <p>&euro;</p>
      </td>
      <td style="width: 177.0px;">porcentual_distribution (distribuci&oacute;n porcentual) %</td>
    </tr>
    <tr>
      <td style="width: 186.0px;">Andaluc&iacute;a</td>
      <td style="width: 90.0px;">2019</td>
      <td style="width: 192.0px;">549.31</td>
      <td style="width: 183.0px;">211.54</td>
      <td style="width: 177.0px;">2.00</td>
    </tr>
  </tbody>
</table>


<!--
<a routerLink="/expenditure/{{expenditure.autonomous_community}}/{{expenditure.year}}">{{expenditure.autonomous_community}}</a></td>
<td><button class="btn btn-warning" routerLink="/expenditures/{{expenditure.autonomous_community}}/{{expenditure.year}}">Edit</button></td>
-->
